:root {
  --ff-primary: "Chivo", sans-serif;

  --clr-primary: hsl(157, 74%, 62%);
  --clr-secondary: #2c334b;
  --clr-bg: #121726;
  --clr-primary-accent: #fff;
  --clr-body-text: #c2cbe5;
  --clr-other-company: #5a668a;

  --clamp-h1-mb: 1.9375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid #f00 !important; */
}

h1,
p {
  font-family: var(--ff-primary);
  font-weight: 300;
  text-align: center;
}

/* controlling clamp size based on tablet width of 768px */
h1 {
  margin-bottom: clamp(1rem, 4.04vw, var(--clamp-h1-mb));
  font-size: clamp(1.6875rem, 6.25vw, 3.25rem);
  line-height: clamp(2.375rem, 7.29vw, 3.875rem);
  text-transform: uppercase;
  color: var(--clr-primary);
  order: 1;
}

h1 span {
  color: var(--clr-primary-accent);
}

p {
  margin-bottom: clamp(2.0625rem, 5.21vw, 2.5rem);
  font-size: clamp(0.9375rem, 2.34vw, 1.125rem);
  line-height: clamp(1.5625rem, 3.65vw, 1.75rem);
  width: clamp(20.4375rem, 57.9vw, 27.8125rem);
  color: var(--clr-body-text);
  order: 2;
}

body {
  background-color: var(--clr-bg);
  background-repeat: no-repeat;
}

main {
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;

  max-width: 79.6875rem;
}

.logo {
  width: 8.4375rem;
  margin: 0 auto;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.logo img {
  margin: 3.875rem auto 3.5625rem auto;
}
.main-signup-section {
  max-height: 31.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.supported-companies-logos {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  order: 3;
  /* opacity: 0.65; */
}

.spotify-logo {
  width: clamp(3.5rem, 12.5vw, 6rem);
  height: auto;
  fill: var(--clr-other-company);
}

.apple-podcast-logo {
  margin-left: clamp(1.4375rem, 5.2vw, 2.5rem);
  width: clamp(2.8125rem, 10.2vw, 4.875rem);
  height: auto;
}

.google-podcast-logo {
  margin-left: clamp(1.5625rem, 5.3vw, 2.5625rem);
  width: clamp(4.5625rem, 16.3vw, 7.8125rem);
  height: clamp(0.6875rem, 2.3vw, 1.125rem);
}

.pocket-casts-logo {
  margin-left: clamp(1rem, 5.3vw, 1.6875rem);
  width: clamp(4.8125rem, 16.8vw, 7.875rem);
  height: clamp(0.9375rem, 3.38vw, 1.625rem);
}

.email-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  order: 4;
}

.email-container input {
  color: var(--clr-primary-accent);
  padding-left: 1.8125rem;
  background-color: var(--clr-secondary);
  border: unset;
  width: clamp(20.4375rem, 55.6vw, 26.6875rem);
  height: clamp(2.875rem, 7.3vw, 3.5rem);
  border-radius: 28px;
  font: unset;
}

.email-container input::placeholder {
  color: var(--clr-primary-accent);
  opacity: 0.5;
  font-family: var(--ff-primary);
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

.email-container button {
  background-color: var(--clr-primary);
  border: unset;
  /* width: 327px; */
  height: 46px;
  border-radius: 28px;
  font-family: var(--ff-primary);
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.75rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.email-container button:hover {
  background-color: #b3ffe2;
  transition: transform 0.1s;
}

.email-container button:active {
  transform: scale(0.95);
}

.img-host {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  justify-self: end;
  z-index: -1;
  opacity: 0.1;
  mix-blend-mode: normal;
  /* max-height: 100vh; to stop 4 px of scroll, dont know why */
  /* width: 100vw;
  height: 100vh;
  object-fit: cover; */
  /* display: none; */
}

.img-host img {
  display: block;
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 40em) {
  /*and (min-height: 50em)*/
  body {
    background-image: url(./assets/desktop/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    background-position: bottom left 1.875rem;
  }
  main {
    padding-left: 2.4375rem;
  }

  .logo {
    margin: unset;
  }

  .logo img {
    margin: 3.125rem auto 9.5rem 0;
  }

  h1,
  p {
    text-align: left;
  }

  .main-signup-section {
    padding-top: 5.8125rem;
    background-color: var(--clr-bg);
    align-items: flex-start;
    width: clamp(39.6875rem, 82.7vw, 45.1875rem);
  }

  /* email container stuff */
  .email-container {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    gap: unset;
    order: 3;
  }

  .email-container input {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .email-container button {
    margin-right: 5px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 162px;
    justify-self: end;
    align-self: center;
  }

  .supported-companies-logos {
    margin: unset;
  }

  .img-host {
    opacity: 1;
    max-height: unset;
  }

  .img-host img {
    /* display: block; */
    /* object-fit: cover; */
    height: unset;
    width: unset;
  }
}

@media only screen and (min-width: 62.5em) {
  :root {
    --clamp-h1-mb: 1.5rem;
  }

  .main-signup-section {
    padding-top: 5.5rem;
  }

  .img-host {
    opacity: 1;
  }
  .logo img {
    margin-bottom: 6.4375rem;
  }
}

@media only screen and (min-width: 79.6875em) {
  body {
    display: flex;
    justify-content: flex-end;
    background-position: bottom right;
  }
  main {
    padding-left: unset;
    grid-template-columns: 79.6875rem;
  }

  .img-host {
    padding-top: 130px;
  }
}
/* 640 switch to tablet*/
/* 660 is when emails fit */

/*dot background doesn't work on small screen height aka devices in landscape mode*/
@media only screen and (max-height: 800px) {
  body {
    background-image: unset;
  }
}
