:root {
  --ff-primary: 'Chivo', sans-serif;

  --clr-primary: #56e6af;
  --clr-secondary: #2c334b;
  --clr-bg: #121726;
  --clr-primary-accent: #fff;
  --clr-body-text: #c2cbe5;
  --clr-other-company: #5a668a;

  --clamp-h1-mb: 1.9375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid #f00 !important; */
}

h1,
p {
  font-family: var(--ff-primary);
  font-weight: 300;
  text-align: center;
}

/* controlling clamp size based on tablet width of 768px */
h1 {
  margin-bottom: clamp(1rem, 4.04vw, var(--clamp-h1-mb));
  font-size: clamp(1.6875rem, 6.25vw, 3.25rem);
  line-height: clamp(2.375rem, 7.29vw, 3.875rem);
  text-transform: uppercase;
  color: var(--clr-primary);
  order: 1;
}

h1 span {
  color: var(--clr-primary-accent);
}

p {
  margin-bottom: clamp(2.0625rem, 5.21vw, 2.5rem);
  font-size: clamp(0.9375rem, 2.34vw, 1.125rem);
  line-height: clamp(1.5625rem, 3.65vw, 1.75rem);
  width: clamp(20.4375rem, 57.9vw, 27.8125rem);
  color: var(--clr-body-text);
  order: 2;
}

body {
  background-color: var(--clr-bg);
  background-repeat: no-repeat;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;

  max-width: 79.6875rem;
}

.logo {
  width: 8.4375rem;
  margin: 0 auto;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.logo img {
  margin: 3.875rem auto 3.5625rem auto;
  display: block;
}
.main-signup-section {
  max-height: 31.8125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.supported-companies-logos {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  order: 3;
}

.spotify-logo {
  width: clamp(3.5rem, 12.5vw, 6rem);
  height: auto;
  fill: var(--clr-other-company);
}

.apple-podcast-logo {
  margin-left: clamp(1.4375rem, 5.2vw, 2.5rem);
  width: clamp(2.8125rem, 10.2vw, 4.875rem);
  height: auto;
}

.google-podcast-logo {
  margin-left: clamp(1.5625rem, 5.3vw, 2.5625rem);
  width: clamp(4.5625rem, 16.3vw, 7.8125rem);
  height: clamp(0.6875rem, 2.3vw, 1.125rem);
}

.pocket-casts-logo {
  margin-left: clamp(1rem, 5.3vw, 1.6875rem);
  width: clamp(4.8125rem, 16.8vw, 7.875rem);
  height: clamp(0.9375rem, 3.38vw, 1.625rem);
}

.email-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  order: 4;
  align-items: center;
}

.email-container input {
  color: var(--clr-primary-accent);
  padding-left: 1.8125rem;
  background-color: var(--clr-secondary);
  border: unset;
  width: clamp(20.4375rem, 55.6vw, 26.6875rem);
  height: clamp(2.875rem, 7.3vw, 3.5rem);
  border-radius: 28px;
  font: unset;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.email-container label {
  --y-offset: 0;
  color: var(--clr-primary-accent);
  margin-left: 1.8125rem;
  width: 14ch;
  opacity: 0.5;
  font-family: var(--ff-primary);
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.75rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: transform 0.2s ease, background-color 0.1s ease-in, border-radius 0.1s ease-in;
  z-index: 25;
}

.email-container button {
  background-color: var(--clr-primary);
  border: unset;
  height: 46px;
  border-radius: 28px;
  font-family: var(--ff-primary);
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.75rem;
  cursor: pointer;
  transition: background-color 0.2s;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.email-container button:hover {
  background-color: #42b387;
  transition: transform 0.1s;
}

.img-host {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  justify-self: end;
  z-index: -1;
  opacity: 0.1;
  mix-blend-mode: normal;
}

.img-host img {
  display: block;
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
}

.bg-img {
  display: none;
}

@media only screen and (min-width: 40em) {
  /*and (min-height: 50em)*/
  body {
    background-image: url(./assets/desktop/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    background-position: bottom left 1.875rem;
  }
  main {
    padding-left: 2.4375rem;
  }

  .logo {
    margin: unset;
  }

  .logo img {
    margin: 3.125rem auto 9.5rem 0;
  }

  h1,
  p {
    text-align: left;
  }

  .main-signup-section {
    padding-top: 5.8125rem;
    background-color: var(--clr-bg);
    align-items: flex-start;
    width: clamp(39.6875rem, 82.7vw, 45.1875rem);
  }

  /* email container stuff */
  .email-container {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    gap: unset;
    order: 3;
  }

  .email-container input {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .email-container button {
    margin-right: 5px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 162px;
    justify-self: end;
    align-self: center;
  }

  .supported-companies-logos {
    margin: unset;
  }

  .img-host {
    opacity: 1;
    max-height: unset;
  }

  .img-host img {
    height: unset;
    width: unset;
  }
}

@media only screen and (min-width: 62.5em) {
  :root {
    --clamp-h1-mb: 1.5rem;
  }

  .main-signup-section {
    padding-top: 5.5rem;
  }

  .img-host {
    opacity: 1;
  }
  .logo img {
    margin-bottom: 6.4375rem;
  }
}
/* desktop media */
@media only screen and (min-width: 79.6875em) {
  body {
    display: flex;
    justify-content: flex-end;
    background-image: unset;
  }
  main {
    position: relative;
    padding-left: unset;
    grid-template-columns: 79.6875rem;
  }

  .img-host {
    padding-top: 130px;
  }

  .logo img {
    margin-top: 6.375rem;
  }

  .bg-img {
    position: absolute;
    right: 0;
    top: 28.5625rem;
    display: block;
    width: 14.5rem;
    height: 6.5rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    z-index: 10;
  }
}

/* 1440p media and up */
@media only screen and (min-width: 100em) {
  body {
    justify-content: center;
  }
}

/*dot background doesn't work on small screen height aka devices in landscape mode*/
@media only screen and (max-height: 800px) {
  body {
    background-image: unset;
  }
}

/* email label css JS driven */

.email-container label.focus {
  --y-offset: -30;
  text-align: center;
  border-radius: 10px;
  opacity: 1;
  color: hsla(0, 0%, 100%, 0.5);
  background-color: var(--clr-bg);
  transform: translateY(-30px) translateX(0px);
}

/* email error */

.errMsg {
  margin: unset;
  width: unset;
  padding-top: 0.5rem;
  padding-left: 1.8125rem;
  color: #fb3e3e;
  font-family: var(--ff-primary);
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 700;
}

@media only screen and (max-width: 40em) {
  .errMsg {
    padding-left: unset;
  }
}

.err-animate {
  animation: shake 0.6s linear 1;
}

.err-animate--label {
  animation: shake--label 0.6s linear 1;
}

@keyframes shake {
  0%,
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  20%,
  60% {
    transform: matrix(1, 0, 0, 1, 16, 0);
  }
  40%,
  80% {
    transform: matrix(1, 0, 0, 1, -16, 0);
  }
}

@keyframes shake--label {
  0%,
  100% {
    transform: matrix(1, 0, 0, 1, 0, var(--y-offset));
  }
  20%,
  60% {
    transform: matrix(1, 0, 0, 1, 16, var(--y-offset));
  }
  40%,
  80% {
    transform: matrix(1, 0, 0, 1, -16, var(--y-offset));
  }
}

/* email success animation */

.success,
.success--label {
  animation: spin 1s ease-in 0.1s 1;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

.success {
  animation: spin 1s ease-in 0.1s 1;
}

.success--label {
  animation: spin--label 1s ease-in 0.1s 1;
}

@keyframes spin {
  0%,
  100% {
    transform: rotateX(0deg);
    /* transform: matrix(1, 0, 0, 1, 0, var(--y-offset)); */
  }
  50% {
    transform: rotateX(180deg);
    /* transform: matrix(1, 0, 0, -1, 0, var(--y-offset)); */
  }
}

@keyframes spin--label {
  0%,
  100% {
    transform: matrix(1, 0, 0, 1, 0, var(--y-offset));
  }
  50% {
    transform: matrix(1, 0, 0, -1, 0, calc(-1 * var(--y-offset)));
  }
}
/* margin adjust */

#margin-adjust--JS {
  margin-bottom: 44px;
}
